h1{
    text-align: center;
    background-color: rgb(122, 123, 124);
    margin: auto;
    width: 25%;
   

}
input{
    margin: 1em;
    border-radius: 40px ;
}
.first>h2{
    background-color: rgb(122, 123, 124);
   text-align: center;
}
.first{
    background-color: rgb(230, 228, 213);
    margin: 4%;
}
.second{
    background-color: rgb(230, 228, 213);
    margin: 4%;
}
.second>h2{
    background-color: rgb(122, 123, 124);
    text-align: center;
}
.third{
    background-color: rgb(230, 228, 213);
    margin: 4%;
    
}
.third>h2{
    background-color: rgb(122, 123, 124);
    text-align: center;
}

.fourth{
    background-color: rgb(230, 228, 213);
    margin: 4%;
}
.fourth>h2{
    background-color: rgb(122, 123, 124);
    text-align: center;
}
.fifth{
    background-color: rgb(230, 228, 213);
    margin: 4%;
}
.sixth{
    background-color: rgb(230, 228, 213);
    width: 10%;
    margin: auto;
    border: 3%;
    padding: 14px 20px;
}
.sixth:hover{
    background-color: lightslategrey
}
.fifth input{
    border-radius: 20%;
    padding: 1%;
    margin: 1em;
}

nav{
    height: 50px;
}
nav a:hover {
    background-color: rgb(122, 123, 124);
    color: black;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
nav a{
    text-decoration: none;
    text-transform: capitalize;
    padding: .5em 1em;
    background-color: rgb(122, 123, 124);
    color: white;

}
legend{
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
}
.contact{
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid;
    border-radius: 10px;
}
.con{
    text-align: center;
}
